main {
  --color-prettylights-syntax-comment: #7081d0;
  --color-prettylights-syntax-constant: #04d1f9;
  --color-prettylights-syntax-entity: #a48cf2;
  --color-prettylights-syntax-storage-modifier-import: #f7c67f;
  --color-prettylights-syntax-entity-tag: #37f499;
  --color-prettylights-syntax-keyword: #f265b5;
  --color-prettylights-syntax-string: #37f499;
  --color-prettylights-syntax-variable: #f7c67f;
  --color-prettylights-syntax-invalid-illegal-text: #f16c75;
  --color-prettylights-syntax-invalid-illegal-bg: rgb(241 108 117 / 15%);
  --color-prettylights-syntax-markup-heading: #04d1f9;
  --color-prettylights-syntax-markup-italic: #f1fc79;
  --color-prettylights-syntax-markup-bold: #f1fc79;
  --color-prettylights-syntax-markup-deleted-text: #ebfafa;
  --color-prettylights-syntax-markup-deleted-bg: rgb(241 108 117 / 40%);
  --color-prettylights-syntax-markup-inserted-text: #ebfafa;
  --color-prettylights-syntax-markup-inserted-bg: rgb(55 244 153 / 40%);
  --color-prettylights-syntax-markup-changed-text: #ebfafa;
  --color-prettylights-syntax-markup-changed-bg: rgb(241 252 121 / 40%);
  --color-prettylights-syntax-markup-ignored-text: #ebfafa;
  --color-btn-text: #ebfafa;
  --color-btn-bg: #292e42;
  --color-btn-border: #3b4261;
  --color-btn-hover-bg: #3b4261;
  --color-btn-hover-border: #414868;
  --color-btn-active-bg: #414868;
  --color-btn-selected-bg: #414868;
  --color-btn-counter-bg: #414868;
  --color-btn-outline-text: #a48cf2;
  --color-btn-shadow: 0 0 transparent;
  --color-btn-inset-shadow: 0 0 transparent;
  --color-btn-primary-text: #212337;
  --color-btn-primary-bg: #37f499;
  --color-btn-primary-border: transparent;
  --color-btn-primary-shadow: 0 0 transparent;
  --color-btn-primary-inset-shadow: 0 0 transparent;
  --color-btn-primary-hover-bg: #00FA82;
  --color-btn-primary-hover-border: #00FA82;
  --color-btn-primary-selected-bg: #00FA82;
  --color-btn-primary-selected-shadow: 0 0 transparent;
  --color-btn-primary-disabled-text: #171928;
  --color-btn-primary-disabled-bg: rgb(55 244 153 / 40%);
  --color-btn-primary-disabled-border: transparent;
  --color-action-list-item-default-hover-bg: #3b4261;
  --color-segmented-control-bg: #414868;
  --color-segmented-control-button-bg: #212337;
  --color-segmented-control-button-selected-border: #6473B7;
  --color-fg-default: #ebfafa;
  --color-fg-muted: #ABB4DA;
  --color-fg-subtle: #ABB4DA;
  --color-canvas-default: #212337;
  --color-canvas-overlay: #292e42;
  --color-canvas-inset: #171928;
  --color-canvas-subtle: #171928;
  --color-border-default: #3b4261;
  --color-border-muted: #292e42;
  --color-neutral-muted: rgb(112 129 208 / 40%);
  --color-accent-fg: #a48cf2;
  --color-accent-emphasis: #a48cf2;
  --color-accent-muted: rgb(164 140 242 / 40%);
  --color-accent-subtle: rgb(164 140 242 / 15%);
  --color-success-fg: #37f499;
  --color-attention-fg: #f7c67f;
  --color-attention-muted: #a48cf2;
  --color-attention-subtle: rgb(164 140 242 / 15%);
  --color-danger-fg: #f16c75;
  --color-danger-muted: rgb(241 108 117 / 40%);
  --color-danger-subtle: rgb(241 108 117 / 20%);
  --color-primer-shadow-inset: 0 0 transparent;
  --color-scale-gray-7: #3b4261;
  --color-scale-blue-8: #04d1f9;
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .gsc-comment-box-textarea::placeholder {
  color: #7081d0;
}
